.home{
     color: rgb(234, 229, 229);
     margin-left: 30px;
     text-decoration: none;
     
}
   

.navcontent{
   color: rgb(106, 184, 33);
}
.navcontent:link{
   text-decoration: none;
}
.ti{
     margin-left: 20px;
     color: #ff6219;
   }
/* body{
   background-color: rgb(21, 21, 21);
} */
.nav{
   
}
